<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="/assets/images/faces/face1.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">{{infoUser.firstname}} {{infoUser.lastname}}</span>
                    <span class="text-secondary text-small">Admin</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#accounts" aria-expanded="false"
                aria-controls="accounts">
                <span class="menu-title">Tài khoản</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-account menu-icon"></i>
            </a>
            <div class="collapse" id="accounts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/admin/account/admin"> Admin </a></li>
                    <li class="nav-item"> <a class="nav-link" href="/admin/account/member"> Thành viên </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/category">
                <span class="menu-title">Thể loại</span>
                <i class="mdi mdi-animation menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/story">
                <span class="menu-title">Sách/Truyện</span>
                <i class="mdi mdi-equal-box menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/author">
                <span class="menu-title">Tác giả</span>
                <i class="mdi mdi-account-box menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/comments">
                <span class="menu-title">Bình luận</span>
                <i class="mdi mdi-message-reply-text menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#statistics" aria-expanded="false"
                aria-controls="statistics">
                <span class="menu-title">Thống kê</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-call-missed menu-icon"></i>
            </a>
            <div class="collapse" id="statistics">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/admin/top-vote"> Top đánh giá </a></li>
                    <li class="nav-item"> <a class="nav-link" href="/admin/top-story"> Truyện đọc nhiều </a></li>
                    <li class="nav-item"> <a class="nav-link" href="/admin/top-story"> Sách được đánh dấu </a></li>
                    <li class="nav-item"> <a class="nav-link" href="/admin/top-story"> Lịch sử sách đã xem </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false"
                aria-controls="general-pages">
                <span class="menu-title">Sample Pages</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-medical-bag menu-icon"></i>
            </a>
            <div class="collapse" id="general-pages">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/pages/samples/blank-page.html"> Blank Page
                        </a></li>
                    <li class="nav-item"> <a class="nav-link" href="/pages/samples/login.html"> Login </a></li>
                    <li class="nav-item"> <a class="nav-link" href="/pages/samples/register.html"> Register </a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" href="/pages/samples/error-404.html"> 404 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="/pages/samples/error-500.html"> 500 </a></li>
                </ul>
            </div>
        </li>
        {{!-- <li class="nav-item sidebar-actions">
            <span class="nav-link">
                <div class="border-bottom">
                    <h6 class="font-weight-normal mb-3">Projects</h6>
                </div>
                <button class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add a project</button>
                <div class="mt-4">
                    <div class="border-bottom">
                        <p class="text-secondary">Categories</p>
                    </div>
                    <ul class="gradient-bullet-list mt-4">
                        <li>Free</li>
                        <li>Pro</li>
                    </ul>
                </div>
            </span>
        </li> --}}
    </ul>
</nav>