<footer>
    <div class="box-footer introduce">
        <div class="title">Giới thiệu</div>
        <div class="detail">
            {{infoWeb.description}}
        </div>
    </div>
    <div class="box-footer socials">
        <div class="title">Liên hệ chúng tôi</div>
        <div class="social-links">
            <ul class="items-social">
                <li class="item-social">
                    <a href="">
                        <i class="mdi mdi-facebook-box"></i>
                        {{infoWeb.facebookLink}}
                    </a>
                </li>
                <li class="item-social">
                    <a href="">
                        <i class="mdi mdi-gmail"></i>
                        {{infoWeb.email}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="copyright">
    <p>Copyright &copy; 2020 SN. All Right Reverse</p>
</div>