<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Danh sách tài khoản Thành viên</h4>
                    <table class="table table-bordered" id="account-table">
                        <thead>
                            <tr>
                                <th> STT </th>
                                <th> Tên tài khoản </th>
                                <th> Họ </th>
                                <th> Tên </th>
                                <th> Số điện thoại </th>
                                <th> Email </th>
                                <th> Ngày tạo </th>
                                <th> Trạng thái </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="block-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script defer src="/assets/js/pages/pagination.js"></script>
<script defer src="/assets/js/pages/accountMember.js"></script>